@model Infrastructure.Models.OrderResponseModel
@using Microsoft.AspNetCore.Identity
@using Infrastructure.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Infrastructure.Constants
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {

        //------------- DETAIL ADD - MINUS COUNT ORDER -------------//
        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {

                var quantity = currentVal;
                if (type == 'minus') {

                    if (currentVal > input.attr('data-min')) {
                        input.val(currentVal - 1).change();
                        quantity = currentVal - 1;
                    }
                    if (parseInt(input.val()) == input.attr('data-min')) {
                        $(this).attr('disabled', true);

                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('data-max')) {
                        input.val(currentVal + 1).change();
                        quantity = currentVal + 1;
                    }
                    if (parseInt(input.val()) == input.attr('data-max')) {
                        $(this).attr('disabled', true);
                    }

                }

                $.ajax({
                    url: "/Product/AddToCart",
                    type: "GET",
                    dataType: "json",
                    data: {
                        "productId": productId,
                        "quantity": quantity,
                    },
                    contentType: 'application/json; charset=utf-8',

                    success: function (result) {
                        $("#total-count").html(result.productQuantity);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert("Thêm vào giỏ hàng thành công!");
                    }
                });
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('data-min'));
            maxValue = parseInt($(this).attr('data-max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });
</script>
<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
               
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>Sản Phẩm</th>
                            <th></th>
                            <th class="text-center">Đơn Giá</th>
                            <th class="text-center">Số Lượng</th>
                            <th class="text-center">Số Tiền</th>
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr>
                                <td class="image" data-title="No"><img src="@(TextConstant.DashboardDomain + "/" +item.Product.Images.First().PathName)" alt="#"></td>
                                <td class="product-des" data-title="Description">
                                    <p class="product-name"><a href="#">@item.Product.Name</a></p>
                                </td>

                                <td class="price" data-title="Price">
                                    <div class="pl-2 text-decoration">@(item.Product.UnitPriceString)</div>
                                    <div class="pl-3 salse">@item.Product.DiscountPriceString</div>
                                </td>
                                <td class="qty" data-title="Qty">
                                    <!-- Input Order -->
                                    <div class="input-group">
                                        <div class="button minus">
                                            <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                <i class="ti-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="100" value=@item.Quantity>
                                        <div class="button plus">
                                            <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                                <i class="ti-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!--/ End Input Order -->
                                </td>
                                <td class="total-amount" data-title="Total">
                                    <span>
                                        @(string.Format("{0:0,0 VND}", (@item.Product.UnitPrice * (1 - @item.Product.Discount / 100)) * @item.Quantity))
                                    </span>
                                </td>
                                <td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">

                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Tổng tiền hàng<span class="pl-2">@Model.SubTotal</span></li>
                                    <li><span>Miễn phí ship</span></li>
                                    <li class="last">Tổng tiền thanh toán <span class="pl-2">@Model.SubTotal</span></li>
                                </ul>
                                <div class="button5">
                                    <a href="#" class="btn">Checkout</a>
                                    <a href="#" class="btn">Continue shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->
