@using Infrastructure.Enums
@inject ICategoryService categoryService
@*@inject IOrderService orderService*@
@{
    var categories = await categoryService.GetAllAsync();
    //var orders = await orderService.GetAllAsync();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mint's Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/niceselect.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="~/css/detail.css">


    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <script>
        //$(document).ready(function () {
        //    $("#add-to-cart").click(function () {
        //        var quantity = $("#quantity").val();
        //        var productId = $("#productId").val();

        //        $.ajax({
        //            url: "/Product/AddToCart",
        //            type: "POST",
        //            dataType: "text",
        //            data: {
        //                quantity, productId
        //            },
        //            contentType: 'application/json; charset=utf-8',

        //            success: function (result) {
        //                //alert("Thêm sdfsdvào giỏ hàng thành công!");
        //                $("#total-count").text('1');
        //            },
        //            error: function (xhr, ajaxOptions, thrownError) {
        //                //alert("Thêm vào giỏ hàng thành công!");
        //            }
        //        });
        //    });

        //});
    </script>
    <!-- Header -->
    <header class="header shop">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12">
                        <!-- Top Left -->
                        <div class="top-left">
                            <ul class="list-main">
                                <li><i class="ti-headphone-alt"></i> 0902597670</li>
                                <li><i class="ti-email"></i> nguyenlanthb@gmail.com</li>
                            </ul>
                        </div>
                        <!--/ End Top Left -->
                    </div>
                    <div class="col-lg-8 col-md-12 col-12">
                        <!-- Top Right -->
                        <div class="right-content">
                            <ul class="list-main">
                                <li><i class="ti-location-pin"></i> Store location</li>
                                <li><i class="ti-user"></i> <a href="#">My account</a></li>
                                <li><i class="ti-power-off"></i><a href="login.html#">Login</a></li>
                            </ul>
                        </div>
                        <!-- End Top Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                        </div>
                        <!--/ End Logo -->
                        <!-- Search Form -->
                        <div class="search-top">
                            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                            <!-- Search Form -->
                            <div class="search-top">
                                <form class="search-form">
                                    <input type="text" placeholder="Search here..." name="search">
                                    <button value="search" type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>
                            <!--/ End Search Form -->
                        </div>
                        <!--/ End Search Form -->
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-12">
                        <div class="search-bar-top">
                            <div class="search-bar">
                                <form>
                                    <input name="search" placeholder="Search Products Here....." type="search">
                                    <button class="btnn"><i class="ti-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            <!-- Search Form -->
                            <div class="sinlge-bar">
                                <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="sinlge-bar">
                                <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="sinlge-bar shopping">
                                <a href="#" class="single-icon"><i class="ti-bag"></i> <span id="total-count" class="total-count">0</span></a>
                                <!-- Shopping Item -->
                                <div class="shopping-item">
                                    <div class="dropdown-cart-header">
                                        <span>2 Items</span>
                                        @*<a href=@Url.Action("New", "Home")>New</a>*@
                                        <a href="#">View Cart</a>
                                    </div>
                                </div>
                                <!--/ End Shopping Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-lg-9 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                                <li>
                                                    <a href=@Url.Action("Index", "Home")>Sản phẩm<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown">
                                                        @foreach (var category in categories)
                                                        {
                                                            <li>
                                                                @Html.ActionLink(@category.Name, "Products", "Home", new { catagoryId = @category.Id, gender = Gender.ALL })
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                                <li>@Html.ActionLink("Bé trai", "Products", "Home", new { catagoryId = "", gender = Gender.BOY })</li>
                                                <li>@Html.ActionLink("Bé gái", "Products", "Home", new { catagoryId = "", gender = Gender.GIRL })</li>
                                                <li>
                                                    <a href=@Url.Action("New", "Home")>New</a>
                                                </li>
                                                <li>@Html.ActionLink("Sale", "Sale", "Home")</li>
                                                <li><a href="contact.html">Liên hệ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Mint's Store - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
