@model Infrastructure.Models.ProductResponseModel
@using Infrastructure.Constants
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        @foreach (var image in Model.Images)
                        {
                            <div class="tab-pane" id="pic-1">
                            <img src="@(TextConstant.DashboardDomain + "/" + image.PathName)" />
                            </div>
                        }
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        @foreach (var image in Model.Images)
                        {
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="@(TextConstant.DashboardDomain + "/" + image.PathName)" /></a></li>
                        }
                        @*<li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                        <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                        <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                        <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>*@
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">@Model.Name</h3>
                    <h6>Mã hàng: 1234</h6>
                    @if (Model.Discount > 0)
                    {
                        <div class="mt-2">
                            <span class="pl-3 font-size-15">@Model.DiscountPriceString</span>
                            <span class="pl-2 text-decoration font-size-13">@(Model.DiscountPriceString)</span>
                            <span class="text-danger">@(Model.Discount) % Giảm</span>
                        </div>

                    }
                    else
                    {
                        <h3 class="price mt-2">
                            <span>@(String.Format("{0:0.0 VND}", Model.UnitPrice))</span>
                        </h3>
                    }

                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <h6>Sizes:</h6>
                        </div>
                        <div class="col-md-5 mb-3">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                                <option>XL</option>
                                <option>XXL</option>
                            </select>
                        </div>

                    </div>
                    <h6 class="mt-2">
                        colors:
                        <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </h6>

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>

                    <div class="action mt-3">
                        <button class="add-to-cart btn btn-default" type="button">Thêm vào giỏ hàng</button>
                        <button class="like btn btn-default" type="button">Mua ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>