@model Infrastructure.Models.ProductResponseModel
@inject IProductService productService
@using Infrastructure.Constants
@using Microsoft.AspNetCore.Identity
@using Infrastructure.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productInCategory = await productService.GetProductsCategoryAsync(Model.CategoryId, Model.Id);
}



<div class="container mt-lg-5">
    <script>
        $(document).ready(function () {
            $("#add-to-cart").click(function () {
                var quantity = $("#quantity").val();
                var productId = $("#productId").val();
                var userName = $("#userName").val();

                $.ajax({
                    url: "/Product/AddToCart",
                    type: "GET",
                    dataType: "json",
                    data: {
                        "quantity": quantity,
                        "productId": productId,
                        "userName": userName,
                    },
                    contentType: 'application/json; charset=utf-8',

                    success: function (result) {
                        console.log('result', result);
                        var count = $("#total-count").text();
                        $("#total-count").html(result.productQuantity);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert("Thêm vào giỏ hàng thành công!");
                    }
                });
            });

            $(".addproduct").each(function () {
                $(this).unbind().click(function () {
                    var productId = $(this)[0].getAttribute("proId");
                    var userName = $("#userName").val();
                    $.ajax({
                        url: "/Product/AddToCart",
                        type: "GET",
                        dataType: "text",
                        data: {
                            "quantity": 1,
                            "productId": productId,
                            "orderId": "",
                            "userName": userName,
                        },
                        contentType: 'application/json; charset=utf-8',

                        success: function (result) {
                            var count = $("#total-count").text();
                            $("#total-count").html(parseInt(count) + 1);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                        }
                    });
                });
            });

        });
    </script>
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="@(TextConstant.DashboardDomain + "/" + Model.Images.First().PathName)" />
                        </div>
                        @for (var i = 1; i < Model.Images.Count(); i++)
                        {
                            <div class="tab-pane" id="pic-1">
                                <img src="@(TextConstant.DashboardDomain + "/" + Model.Images.ElementAt(i).PathName)" />
                            </div>
                        }
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        @foreach (var image in Model.Images)
                        {
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="@(TextConstant.DashboardDomain + "/" + image.PathName)" /></a></li>
                        }

                    </ul>

                </div>
                <div class="details col-md-6">
                    <h4 class="product-title">@Model.Name</h4>
                    <h6>Mã: 1234</h6>
                    @if (Model.Discount > 0)
                    {
                        <div class="mt-3">
                            <span class="pl-2 text-decoration font-size-17">@(Model.UnitPriceString)</span>
                            <span class="pl-3 font-size-27">@Model.DiscountPriceString</span>
                            <span class="pl-3 text-danger">@(Model.Discount) % Giảm</span>
                        </div>

                    }
                    else
                    {
                        <h3 class="price mt-3">
                            <span>@(String.Format("{0:0.0 VND}", Model.UnitPrice))</span>
                        </h3>
                    }
                    @*@using (Html.BeginForm("AddToCart", "Product", FormMethod.Post, new { productId = Model.Id }))
        {*@
                    <div class="form-row mt-3">
                        <div class="col-md-3 mb-2">
                            <h6 class="mt-2">Giới tính:</h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="mt-2">@Model.Gender</h6>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-md-3">
                            <h6 class="mt-2">Sizes:</h6>
                        </div>
                        <div class="col-md-4 px-0">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                                <option>XL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-md-3 mb-3">
                            <h6 class="d-inline mt-2">Màu:</h6>
                        </div>
                        <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </div>
                    <div class="form-row mt-3">
                        <h6 class="col-md-3 mt-2">Số lượng:</h6>
                        <span class="quantity">
                            <input id="quantity" class="input-quantity" type="number" name="quantity" asp- value="1" />
                        </span>
                        <span class="pl-2 mt-2 text-muted">@Model.UnitsInStock sản phẩm có sẵn</span>
                    </div>
                    <div class="mt-4">
                        <span>
                            @Model.Description
                        </span>
                    </div>

                    <div class="mt-4">
                        <h6>
                            Hướng dẫn sử dụng
                        </h6>
                        <span>
                            Giặt máy ở chế độ nhẹ, nhiệt độ thường.
                            <br />
                            Giặt với sản phẩm cùng màu.
                            <br />
                            Không sử dụng hóa chất tẩy có chứa Clo.
                            <br />
                            Phơi trong bóng mát.
                            <br />
                            Sấy thùng, chế độ nhẹ nhàng.
                            <br />
                            Là ở nhiệt độ trung bình 150 độ C.
                            <br />
                            Không là lên chi tiết trang trí.
                            <br />
                        </span>
                    </div>
                    @*@Html.HiddenFor(m => m.Id)*@
                    <input type="hidden" id="productId" name="productId" value=@Model.Id>
                    @if (SignInManager.IsSignedIn(User))
                    {

                        <input type="hidden" id="userName" name="userName" value=@User.Identity.Name>
                    }
                    <div class="action mt-3">
                        <button id="add-to-cart" class="add-to-cart btn btn-default" type="submit">Thêm vào giỏ hàng</button>
                        <button class="like btn btn-default" type="button">Mua ngay</button>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="mt-5 mb-5 pb-5">
        <div class="tab-content" id="myTabContent">
            <!-- Start Single Tab -->
            <div class="tab-pane fade show active" id="man" role="tabpanel">
                <div class="tab-single">
                    <h5>SẢN PHẨM TƯƠNG TỰ</h5>
                    <div class="row">
                        @foreach (var product in productInCategory)
                        {
                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        @if (product.Images.Count > 0)
                                        {
                                            <a href=@Url.Action("Details", "Product", new {id=product.Id })>
                                                <img class="default-img" src="@(TextConstant.DashboardDomain + "/" + product.Images?.First().PathName)" alt="#">
                                            </a>
                                        }

                                        <div class="button-head">
                                            <div class="product-action-2">
                                                <a title="Add to cart" class="addproduct @product.Id" proId="@product.Id">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href=@Url.Action("Details", "Product", new {id=product.Id })>@product.Name</a></h3>
                                        <div class="product-price">
                                            @if (Model.Discount > 0)
                                            {
                                                <span class="text-decoration">@product.UnitPriceString</span>
                                                <span class="sale">@product.DiscountPriceString</span>
                                            }
                                            else
                                            {
                                                <span>@product.UnitPriceString</span>
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--/ End Single Tab -->
        </div>
    </div>
</div>